<div style="text-align:center">
  <h2><%= @restaurant.name.titleize %></h2>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=200x150&sensor=false&maptype=roadmap&markers=color:red|#{@restaurant.address}" %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 id="reviews_title">
        <%= render "reviews/title", restaurant: @restaurant %>
      </h2>
    </div>
    <div class="panel-body">
      <!-- display reviews -->
      <div id="reviews">
        <% if @restaurant.reviews.blank? %>
          <span id="leave_a_review">Be the first to leave a review for <%= @restaurant.name %></span>
        <% else %>
          <% @restaurant.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br/>
  <!-- Form for reviews -->
  <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
</div>
